@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --color-primaria: #fffafa;
    --color-secundaria: #4c254f;
    --color-terciaria: #22D4FD;
    --color-hover: #272727;

}

* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primaria);
    color: var(--color-secundaria);
}

.logo__item {
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    padding: 2px 2px;
    cursor: pointer;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.presentacion__imagen{
    background-image: url(../img/yo.jpg);
    background-repeat: no-repeat;
    padding: 2px 2px;
    cursor: pointer;
    background-size: cover;
    width: 150px;
    height: 200px;
    border-radius: 60%;
    border: #272727;
}

.html__imagen{
   
    padding: 15px 15px;
    background-size: cover;
    width: 80px;
    height: 70px;
   
}

.css__imagen{
   
    padding: 15px 15px;
    background-size: cover;
    width: 80px;
    height: 70px;
}

.photo__imagen{
    padding: 15px 15px;
    background-size: cover;
    width: 80px;
    height: 70px;
}

.piton__imagen{
    padding: 15px 15px;
    background-size: cover;
    width: 80px;
    height: 70px;
}

.tecno__imagen{
    padding: 15px 15px;
    background-size: cover;
    width: 80px;
    height: 70px;
}

.musica__imagen{
    padding: 15px 15px;
    background-size: cover;
    width: 80px;
    height: 70px;
}
.libro__imagen{
    padding: 15px 15px;
    background-size: cover;
    width: 80px;
    height: 70px;
}
.ganador__imagen{
    padding: 15px 15px;
    background-size: cover;
    width: 80px;
    height: 70px;
}

.proyecto{
    font-family: "raleway";
}

.header{
    background-color: #AFE3C0;
    font-family: "raleway";

}

.presentacion{
    font-family: "raleway";
}

.sobremi{
    font-family: "raleway";
}

.menu__skill__hobbies{
    background-color: #B4D6D3;
    font-family: "raleway";
}

.proyecto__imagen{
    background-repeat: no-repeat;
    padding: 2% 0% 3% 15%;
    background-size: cover;
    width: 400px;
    height: 300px;
}

.footer{
    background-color: #AFE3C0;
    font-family: "raleway";
}

.boton__link{
    background-color: #9cd1f5;
    text-decoration: none;
    margin-right: auto;
    margin-left: 320px;
    padding: 1% 1% 1% 1%;;
    cursor: pointer;
    border-radius: 5%;

}